{% extends 'app/base.html' %}
{% load static %}

{% block main-content %}
<div style="margin:150px 150px 0 ;">
<h2 style="color: blue; align-items: center;">Beginners guide to archery</h2>
<h3 style="color: green;">History</h3>
<h5 style="word-spacing: 8px;">Archery was first introduced to the Olympics in 1900. It was included at the 1904, 1908 and 1920 Games, </br>then had a 52-year hiatus from the Olympic Programme.

    In 1972, </br>archery returned to the Games and it has remained an Olympic sport ever since.</h5>
</br>
<h3 style="color: green;">FactSheet</h3>
<div>
    <ul>
        <li> Venue: Sambodromo</li>
        <li> Dates: 5-12 August</li>
        <li> Number of athletes: 128 (64 men, 64 women)</li>
        <li> Number of medals: 4 (mens, womens, Mens team, womens team)</li>
    </ul>
</div>

<br>

<h3 style="color: green;">How it Work</h3>
<h5 style="word-spacing:8px">Athletes competing in archery at the Olympic Games use a recurve bow to propel <br>
     arrows towards targets set 70 metres away. The targets measure 122cm in diameter,<br>
      and have 10 concentric scoring rings, separated into five colours.<br>

    The inner colour, the gold, scores 10 or nine points. (The 10 measures 12.2cm in diameter.)<br>
     The red scores eight or seven points, blue six or five points, black four or three points, <br>
     white two or one point.</h5>

     <h3 style="color: green;">Individual competition</h3>
     <h5 style="word-spacing: 8px;">Athletes shoot 72 arrows, in ends of six, in a ranking round. The athletes’ total scores are used to rank the athletes from one to 64 and give each a seeding for the knock-out brackets.

        Individual elimination matches see two athletes shoot against one another. The loser leaves the competition and the winner advances to the next phase. The phases progress until two athletes remain to contest the gold medal final. The two semifinal losers compete for the bronze medal.
        
        Individual matches are decided using the set system. Each set consists of three arrows. The athlete with the highest score in the set – the total of their three arrows – receives two set points. If the athletes are tied, each receives one set point.
        
        The first athlete to six set points wins the match.
        
        Athletes have 20 seconds to shoot each arrow, and shoot alternately. The highest seeded archer decides which athlete shoots first in the first set. The archer with the lowest set score shoots first in subsequent sets. If the athletes are tied, it reverts to the original shooting order.
        
        If there is a tie after five sets (with a scoreline of 5-5), each athlete shoots a single arrow. The athlete whose arrow lands closest to the middle of the target wins the match.</h5>
    </div>

{% endblock main-content %}